.wi-fi {
	padding: 95px 15px;
	h2 {
		font-family: var(--font-semibold);
		font-size: var(--fz-big);
		text-align: center;
		max-width: 800px;
		width: 100%;
		margin: 0 auto 50px;
	}
	p {
		max-width: 800px;
		width: 100%;
		text-align: center;
		margin: 0 auto;
	}
}
